.ReleaseNote {
    margin-top: 2%;
    width: 100%;
}
.ReleaseNote .createNewBtn {
    margin-left: 20px;
    height: 40px;
}
.ReleaseNote .topWrapper {
    display: flex;
    align-items: center;
}

.ReleaseNote .mainWrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
}

.ReleaseNote .releaseNoteList {
    width: 100%;
}
.ReleaseNote .releaseNote {
    margin-top: 40px;
    align-items: start;
}
.ReleaseNote .releaseNote .date {
    margin-left: 12px;
}
.ReleaseNote .releaseNote .content {
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
}
.ReleaseNote .releaseNote .content .text {
    padding-left: 4px;
}
.ReleaseNote .releaseNote .titleWrapper {
    display: flex;
}
.ReleaseNote .releaseNote .releaseNoteContentItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-top: 12px;
}
