.ReleaseNote {
    margin-top: 2%;
    width: 100%;
}
.ReleaseNote .topWrapper {
    display: flex;
}

.ReleaseNote .mainWrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 4%;
}

.ReleaseNote .releaseNoteList {
    width: 100%;
}
.ReleaseNote .releaseNote {
    margin-top: 40px;
    align-items: start;
}
.ReleaseNote .releaseNote .titleWrapper {
    display: flex;
}
.ReleaseNote .releaseNote .releaseNoteContentItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}
